/* @media (prefers-color-scheme: dark) {
}

html {
    --text-color-normal: #0a244d;
    --text-color-light: #8cabd9;
  }
  
  html[data-theme='dark'] {
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
  } */
/* 
@media (prefers-color-scheme: dark) {
body {
    background-color: black;
    color: #ccc;
}
} */

/* :root {
  --color-bg: #ffffff;
}

.component {
  background-color: var(--color-bg);
}

[data-theme="dark"] {
  --color-bg: #000000;
}
   */